* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(252, 252, 252);
  background-image: url("./images/earth3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  width: 15%;
  margin: auto;
}

.nav {
  padding: 5px 20px 20px 10px;
  width: 98%;
  background-color: aliceblue;
}

.nav button {
  float: right;
}

.top {
  width: 100%;
}

.top-left {
  width: 50%;
  min-height: 300px;
  float: left;
}

.top-right {
  width: 50%;
  min-height: 300px;
  float: left;
}

.bottom {
  width: 100%;
}

.bottom-left {
  width: 50%;
  min-height: 300px;
  float: left;
}

.bottom-right {
  width: 50%;
  min-height: 300px;
  float: left;
}




.user-main {
  width: 100%;
}

.user-list {
  width: 30%;
  background-color: aqua;
  float: left;
}

.user-edit {
  width: 70%;
  background-color: antiquewhite;
  min-height: 200px;
  float: left;
}