body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 100%;
  align-content: center;
}

.nav {
  background-color: bisque;
  width: 100%;
}

.nav button {
  float: right;
}

.top {
  width: 100%;
}

.top-left {
  background-color: aqua;
  width: 50%;
  min-height: 300px;
  float: left;
}

.top-right {
  background-color: aquamarine;
  width: 50%;
  min-height: 300px;
  float: left;
}

.bottom {
  width: 100%;
}

.bottom-left {
  background-color: rgb(255, 0, 85);
  width: 50%;
  min-height: 300px;
  float: left;
}

.bottom-right {
  background-color: rgb(240, 255, 127);
  width: 50%;
  min-height: 300px;
  float: left;
}

.thumb-main {
  width: 100%;
  height: 110px;
}

.thumb-image {
  background-color: bisque;
  width: 15%;
  float: left;
}

.thumb-image img {
  height: 100px;
}

.ad-top {
  width: 100%;
}

.ad-title {
  background-color: beige;
  width: 70%;
  float: left;
}

.ad-btn {
  background-color: aqua;
  width: 30%;
  height: 115px;
  float: left;
}

.ad-bottom {
  width: 100%;
}

.ad-image {
  background-color: aquamarine;
  width: 40%;
  height: 400px;
  float: left;
}

.ad-image img {
  width: 580px;
}

.ad-description {
  background-color: antiquewhite;
  width: 60%;
  height: 400px;
  float: left;
}

.user-main {
  width: 100%;
}

.user-list {
  width: 30%;
  background-color: aqua;
  float: left;
}

.user-edit {
  width: 70%;
  background-color: antiquewhite;
  min-height: 200px;
  float: left;
}