.main-classified {
    width: 100%;
}

.ads-select select {
  background-color: #1c80a7ca;
  border: solid rgb(133, 133, 133);
  border-width: 2px 2px 2px 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font: inherit;
  padding: 10px 40px 8px 5px;
}

.ad-type {
  background-color: #1c80a7ca;
  border: solid rgb(133, 133, 133);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-width: 2px 0px 2px 2px;
  float: left;
  padding: 10px 10px ;
}


.ads-list-thumbs {
  border-style: solid;
  border-color: rgb(150, 167, 176);
  border-width: 0px 0px 2px 0px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.ads-list-thumbs:hover {
  background-color: rgb(66, 137, 176);
  border-radius: 15px;
  box-shadow: 0px 0px 15px #1c7fa7;
  text-shadow: 0px 0px 5px #000000ac;
  color: rgb(168, 163, 151);
}

.thumb-main {
  width: 100%;
  height: 110px;
}
  
.thumb-image {
  width: 15%;
  float: left;
}

.thumb-image img {
  border-radius: 8px;
  margin-top: 5px;
  margin-left: 5px;
}
  
.thumb-image img {
  height: 100px;
}


.ad-top {
  position: relative;
  width: 99%;
  padding-top: 10px;
}
  
.ad-title {
  width: 100%;
  margin-right: 100px;
  margin-bottom: 20px;
}

.ad-title button {
  float: right;
  background-color: #45a2c6;
  font: inherit;
  border-style: solid;
  border-color: rgb(118, 126, 130);
  border-radius: 5px;
  border-width: 2px;
}

.ad-title button:hover {
  background-color: rgb(118, 126, 130);
  border-color: #1c7fa7;
  box-shadow: 0px 0px 15px #1c7fa7;
}

.ad-title h2 {
  display: inline;
}
  
.ad-btn {
  background-color: aqua;
  width: 30%;
  height: 115px;
  float: left;
}
  
.ad-bottom {
  position: relative;
  width: 99%;
}
  
.ad-image {
  width: 600px;
  height: 400px;
  display: inline-block;
}
  
.ad-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 580px;
  max-height: 390px;
  border-radius: 15px;
}

.ad-description {
  background-color: antiquewhite;
  display: inline-block;
  position: absolute;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
}

.ad-description-title {
  margin-bottom: 10px;
}

.comments {
  border-style: solid;
  border-color: rgb(150, 167, 176);
  border-width: 2px 0px 0px 0px;
  margin-right: 30px;
}

.comment-section {
  border-style: solid;
  border-color: rgb(150, 167, 176);
  border-width: 2px 0px 0px 0px;
}

.comment-container {
  border-style: solid;
  border-color: rgb(150, 167, 176);
  border-width: 0px 0px 2px 0px;
  width: 50%;
  /* min-height: 37px; */
}

.comment-posted-by {
  background-color: rgba(250, 235, 215, 0.69);
  margin: 0px;
  padding: 2px 0px 2px 0px;
}

.comment-content {
  background-color: rgba(239, 213, 180, 0.668);
  padding: 2px 0px 2px 15px;
}



.make-comment {
  margin: 20px 0px 20px 60px;
}

.make-comment textarea {
  border-radius: 10px;
}

.make-comment input {
  float: right;
  margin-right: 50px;
  background-color: #45a2c6;
  font: inherit;
  border-style: solid;
  border-color: rgb(118, 126, 130);
  border-radius: 5px;
  border-width: 2px;
}

.make-comment input:hover {
  background-color: rgb(118, 126, 130);
  border-color: #1c7fa7;
  box-shadow: 0px 0px 15px #1c7fa7;
}

.form-title{
  margin: 0px 0px 20px 10px;
}

.form {
  margin: 0px 0px 20px 50px;
}

